
.class {
    display: inline-block;
    width: 245px;
}

.channel2-profle,
.channelprofile3 {
    vertical-align: top;
    margin-top: 23px;
    border-radius: 30px;
    width: 50px;
    display: inline-block;
}

.info3,
.info2 {
    display: inline-block;
    width: 245px;
}