.video2-profile {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.thumbnail2 {
    width: 300px;
    display: block;
}

.video3-profile {
    width: 300px;
    display: inline-block;
}

.video2-profile {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.thumbnail2 {
    width: 300px;
    display: block;
}